<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	BaseAplicacao</display-name>
	<servlet>
		<description>
		Servlet ancestral</description>
		<display-name>
		AppBaseServlet</display-name>
		<servlet-name>AppBaseServlet</servlet-name>
		<servlet-class>
		br.com.christianovale.base.aplicacao.web.AppBaseServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ServletFoo</display-name>
		<servlet-name>ServletFoo</servlet-name>
		<servlet-class>
		br.com.christianovale.base.aplicacao.web.foo.ServletFoo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		servletlogin</display-name>
		<servlet-name>servletlogin</servlet-name>
		<servlet-class>
		br.com.christianovale.base.aplicacao.web.login.ServletLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		servletcabecalho</display-name>
		<servlet-name>servletcabecalho</servlet-name>
		<servlet-class>
		br.com.christianovale.base.aplicacao.web.cabecalho.ServletCabecalho</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		servletProfissional</display-name>
		<servlet-name>servletProfissional</servlet-name>
		<servlet-class>
		br.com.christianovale.base.aplicacao.web.profissional.ServletProfissional</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppBaseServlet</servlet-name>
		<url-pattern>/appbaseservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletFoo</servlet-name>
		<url-pattern>/ServletFoo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletlogin</servlet-name>
		<url-pattern>/servletlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletcabecalho</servlet-name>
		<url-pattern>/servletcabecalho</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servletProfissional</servlet-name>
		<url-pattern>/servletProfissional</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
